<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    {% include 'language-switch.njk'%}
    <header class="header-bar">
      <a href="/pages/{{locale}}/">Home</a>
      <a href="/pages/{{locale}}/">Blog</a>
      <a href="/pages/{{locale}}/about">About</a>
      <a href="/pages/{{locale}}/contact">Contact me</a>
      <a href="/pages/{{locale}}/rss">RSS</a>
    </header>
    {# <header>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</header> #}
		{{content | safe}}
  </body>
</html>