.header {
	width: 100%;
	padding-top: 2rem;
}

.header__title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 1rem;
}

.header__title > a {
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	font-size: 5rem;
	font-weight: 650;
	letter-spacing: -0.1rem;
	color: var(--accent-color);
}

.languages {
	display: flex;
}

.languages > a + a {
  border-left: 2px solid #A1A1AA;
}

.languages > a {
	text-decoration: none;
	font-size: 2.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.nav {
	text-transform: capitalize;
  text-transform: uppercase;
  display: flex;
	gap: 3rem;
	padding-bottom: 3rem;
}

.nav > a {
	text-decoration: none;
	font-size: 2.4rem;
	color: #656565;
}

.nav>a:hover {
	color: var(--accent-color)
}
