@font-face {
	font-family: 'Montserrat';
	src: url('/static/font/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'Catamaran';
	src: url('/static/font/Catamaran-VariableFont_wght.ttf') format('truetype-variations');
}

html {
	font-size: 62.5%; /* set REM base 10 to pixels */
}

body {
	font-family: 'Catamaran', sans-serif;
	font-size: 2.1rem;
	max-width: 70ch;
	margin-top: 1vh;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-bottom: 4rem;
}

img {
	width: 100%;
	height: fit-content;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

footer {
	padding-top: 8rem;
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 120ch) {
	body {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	
}