.post__header {
	font-size: 4rem;
	font-weight: 600;
	padding-bottom: 3rem;
	padding-top: 4rem;
}

.post__details {
	font-size: 1.8rem;
	font-weight: 400;
	color: #52525B;
	padding-top: 1.2rem;
}

.post__content > p {
	line-height: 160%;
	margin-bottom: 1.5rem;
}

.post__content > h2,h3 {
	font-size: 2.4rem;
	font-weight: 600;
	padding-bottom: 2rem;
	margin-top: 4rem;
}

sup > a {
	text-decoration: none;
	font-weight: 600;
}

/* Overrides */
.header__title > a {
	font-size: 3rem;
	font-weight: 600;
}
