---
layout: mainlayout.njk
permalink: "{{locale}}/"
css: /static/css/list.css
title: Luca's blog
---


<aside class="intro">
  <p><img src="/static/images/luca.jpg" alt="Luca Schneider"/></p>
  <p>
    Persönlicher Blog von <a href="https://mobile.twitter.com/Mad__Kat">Luca Schneider</a>.
  </p>
</aside>

{% set posts = collections["posts_" + locale] %}
{% for post in posts | reverse %}
  {% if loop.first %}<ul>{% endif %}
    <li>
      <a class="article" href="{{post.url}}">
        <article>
          <div class="article-text">
            <h3>{{ post.data.title }}</h3>
            <p class="article-info">
              <time datetime="{{ post.date | date(locale) }}">
                      {{ post.date | date(locale)  }}
              </time> 
              | 
              <small>{{ post.templateContent | readingTime }} read</small>
            </p>
            <p>{{post.data.introText}}</p>
          </div>
        <p><img class="intro-image" src="{{post.data.introImage}}" alt="article intro image"/></p>
        </article>
      </a>
    </li>

  {% if loop.last %}</ul>{% endif %}
{% endfor %}